* {
    margin: 0;
    padding: 0;
    border-width: 0;
}

html {
    font-size: 24px;
}

.none {
    display: none !important;
    pointer-events: none;
}

input:focus {
    outline: none;
}

input {
    background-color: var(--main-background-color)  ;
    height: 50px;
    width: auto;
    font-size: 0.83rem;
    /* border-width: 0; */
}

ul {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
}

a {
    text-decoration: none;
    color: black;
}